/* UNIFORM SITE STYLES */
* {
    padding: 0;
    margin: 0;
}

.wholePage {
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
}

/* BODY */
.sectionTitle {
    padding-bottom: .5rem;
}

.sectionLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

/* HEADER */
header {
    padding-top: .25rem;
}

.headerNav {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.headerLogo {
    padding-left: 1rem;
}

.headerNavTopics {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.headerNavTopics a {
    padding: .35rem;
}

/* FEATURED */
.featuredBlock {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-bottom: 2rem;
}

.featuredTiles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tileConfig {
    display: flex;
    align-items: center;
}

.featuredOthers {
    display: flex;
    gap: 2rem;
}

.featuredOthers a {
    padding: .5rem;
}

/* BUSINESS INFO*/
.businessInfoBlock {
    display: flex;
    gap: 1rem;
    align-items: center;
}

/* ABOUT US */
.aboutUsBlock {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    align-items: center;
}

/* CONTACT US */
.contactStuff {
    display: flex;
    flex-direction: row-reverse;
    gap: 3rem;
    padding-bottom: 1rem;
}

.contactDivide {
    display: flex;
    flex-direction: column;
    justify-content: center
}

/* FOOTER */